@import "tailwindcss";

html {
  @apply bg-slate-900 text-slate-300;
}
/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}